@mixin header {
    padding-top: 79px;
    padding-bottom: 20px;
}

@mixin offer{
    padding-top: 142px;
    padding-bottom: 142px;
}

@mixin projects {
    padding-top: 100px;
    padding-bottom: 100px;
}